*, :after, :before {
    box-sizing: border-box;
}

.Site {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    color: #666;
    background-color: white;
}

.Site-header {
}

.Site-content {
    padding: 2em 1.5em;
    flex: 1 0 auto;
    background-color: white;
}

.Site-footer {
    background-color: #bbb;
}

.Site-footer a {
    color: #4d4d4d;
}

.Footer {
    padding: 1.5em;
    background: #404040;
    color: #999;
    font-size: .85em;
    text-align: center;
}

.Header {
    padding: 1.5em;
    text-align: center;
}

.Header-title {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
}

.Header-color {
    color: #5c4;
}

.Header a {
    color: #e43;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.Header a:hover {
    border-bottom: 2px solid #ffceb8;
}

.Header input {
    margin-top: 1em;
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    color: #e43;
}

.Header input:hover {
    border-bottom: 2px solid #ffceb8;
}

.Header-action {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.Status {
    padding: 2.5em 1.5em;
    background-color: #5c4;
}

.Status-down {
    background-color: #e43;
}

.Status-content {
    color: #fff;
    font-size: 2.5em;
}

.Login, .Register {
    max-width: 30em;
    margin: 0 auto;
}

.Login .title, .Register .title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: #e0e0e0;
    height: 2px;
    font-weight: normal;
}

.Login .title span, .Register .title span {
    display: inline-block;
    position: relative;
    top: -1.25em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    background-color: #e0e0e0;
    color: #999999;
    border-left: 2em solid #ffffff;
    border-right: 2em solid #ffffff;
}

.Login label, .Register label {
    display: block;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-size: 0.75em;
}

.Login input, .Register input {
    padding: 0.5em;
    width: 100%;
}

.Login input[placeholder], .Register input[placeholder] {
    color: #b0b0b0;
}

.Login-message {
    font-size: 0.8em;
    text-align: center;
    flex: 1;
    padding: 1em;
    margin-bottom: 1em;
}

.Login-success {
    background-color: #DBF0D8;
}

.Login-error {
    background-color: #FBD1CC;
}

.Login-submit, .Register-submit {
    margin-top: 2em;
}

.Login-submit input, .Register-submit input {
    border: 0;
    outline: none;
    background-color: #5c4;
    cursor: pointer;
    color: #ffffff;
}

.Login-submit input:hover, .Register-submit input:hover {
    background-color: #4db23e;
}

.Login-email, .Login-password, .Register-email, .Register-password, .Register-confirm-password {
    padding-bottom: 1em;
}

.Container {
    margin: 0 auto;
    width: 100%;
}

.Checks {
    flex-direction: column;
    border-bottom: 1px solid #eee;
}

.Check {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-color: #eee;
    border-width: 1px 1px 0 3px;
    border-style: solid;
}

.Check-name, .Check-url, .Check-interval {
    flex: 1;
    padding-right: 1em;
}

.Check-submit {
    flex: 1;
}

.Check-create-title {
    font-size: 2em;
    text-align: center;
}

.Check-create {
    display: flex;
    flex-direction: column;
}

.Check-create input {
    width: 100%;
    padding: 0.5em;
}

.Check-status {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    align-items: center;
    display: flex;
}

.Check-up {
    color: #5c4;
    background-color: #e6f7e3;
    padding: 0.25em 0.75em;
}

.Check-down {
    color: #e43;
    background-color: #fcdad6;
    padding: 0.25em 0.75em;
}

.Check-unknown {
    color: #999;
    background-color: #ebebeb;
    padding: 0.25em 0.75em;
}

@media (min-width: 768px) {
    .Header {
        display: flex;
    }

    .Header-action {
        justify-content: flex-end;
    }

    .Check-create {
        flex-direction: row;
    }
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xakhsy');
    src:  url('../fonts/icomoon.eot?xakhsy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xakhsy') format('truetype'),
    url('../fonts/icomoon.woff?xakhsy') format('woff'),
    url('../fonts/icomoon.svg?xakhsy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-urlcheck:before {
    content: "\e900";
}


